/* for local style */

input[type=number] {  
    -moz-appearance:textfield;  
}  
input[type=number]::-webkit-inner-spin-button,  
input[type=number]::-webkit-outer-spin-button {  
    -webkit-appearance:  none ;  
    margin :  0 ;  
} 

a , a:hover , a:active , a:focus{
    text-decoration: none !important;
}

.push20{
    margin-bottom: 20px;
    margin-top: 20px;
}


body a , body button{
    display: block;
}

.container{
    width: 1440px;
    margin:auto;
    padding: 0 30px 0 30px;
    max-width: 100%;;
    box-sizing: border-box;
}




/* header */


.header_bg{
    display: flex;
    height: auto;
    background: #efefef;
    justify-content: space-between;
    transition: 0.3s;
}

.title_01{
    margin: 0px;
    font-size: 16px;
    padding: 30px 0;
    padding-left: 30px;
    font-weight: bold;
}

.light{
    padding: 18px 25px;
    color:#fff;
    background: #dedede;
    cursor: pointer;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .title_01{
        padding:20px 0;
        padding-left: 30px;
    }
}



/* content */


.bg_container{
    display:flex;
    min-height: 100vh;
    /* height: 100vh; */
}

.bg_container > div{
    box-sizing: border-box;
    padding-top:60px;
    padding-bottom: 60px;
}

.left_bg{
    width: calc(100%/2);
    padding: 0 30px 0 30px;
    display: flex;
    align-items: center;
    background: #e8e8e8;
    position: absolute;
}



.half_left{
    width: 100%;
}

.half_right{
    width: 100%;
}

.right_bg {
    width: calc(100%/2);
    padding: 0 30px 0 30px;
    display: flex;
    align-items: center;
    background:#1b1b1b;
}


.s_btn{
    margin-bottom:20px; 
}

@media (max-width:768px) {
    .bg_container{
        display: block;
    }

    .left_bg{
        width: 100%;
        z-index: -1;
    }

    .bg_container > div{
        transition: 0.3s;
    }

    .right_bg{
        width: 100%;
        opacity: 0;
    }
}

/* footer */

.f_scrolltop {
    background: #2b2b2b;
    padding: 40px 0px;
    color: rgb(172, 172, 172);
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.f_scrolltop:hover {
    color: rgb(255, 255, 255);
    background: #1d1d1d;
}

/* jquery use */
.darkside{
    opacity: 1 !important;
}

.lightside{
    opacity: 0;
}

.sun{
    position: absolute;
    transition: 0.3s;
}

.moon{
    opacity: 0;
    transition: 0.3s;   
}

.dark-color01{
    background: #2d2d2d;
    color: #fff;    
}

.dark-color02{
    background: #000000;
}